@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Dancing+Script:wght@500&family=Didact+Gothic&family=Kanit&family=Oswald&family=Play&family=Roboto&family=Saira:wght@700&family=Spline+Sans&display=swap');
nav{
    color: white;
}
nav a{
    color: black;
}
nav li a{
    font-family:oswald;
}
.background-2{
    background-color: white;
    color:black;
    font-weight: 430;
    padding: 10px 10px 10px;

}
.background-1{
    background-image: url(./images/headphone-g3d936c282_1280.jpg);
    width: 100%;
    height: 850px;
    background-repeat:no-repeat;
}
.section-1{
    position: relative;
    top: 200px;
    color: white;
    text-transform: capitalize;
}
.section-1 h3{
    font-weight: 400;
}
.section-1 p{
    font-weight: 200;
    font-size: 12px;
}
.btn-1{
    background-color: tomato;
    color: white;
    border-style: none;
    border-radius: 2px;
    padding: 15px 15px 15px 15px;
}
.audio-1{
    margin-top: 100px;
}
.section-2{
    padding-top: 50px;
    padding-bottom: 150px;
    background-color:whitesmoke;
    position: relative;
    bottom:100px;
}
.card-title{
    color: tomato;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    text-align: start;
    margin-top: 20px;
}
.section-2 .paragraph-1{
    font-size: 10px;
    text-align: start;
}
.section-2 .paragraph-2{
    text-align: start;
    font-size: 13px;
    color: hsl(211, 12%, 48%);
}
.audio-2{
    width: 200px;
    height: 35px;
    margin-bottom: 15px;
}
.card{
    margin-left: 25px;
}
.swiper-pagination-bullet {
    padding-top:7px;
    width: 40px!important;
    height: 40px!important;
    text-align: center;
    line-height: 20px;
    font-size: 22px;
    color: #000;
    opacity: 1;
    background: transparent;
  }

  .swiper-pagination-bullet-active {
    color: orangered;
    background: transparent!important;
    border:solid 2px orangered;
  }
.section-3{
    padding-bottom: 80px;
}
.image-2{
    width: 280px;
    height: 250px;
    object-fit: cover;
}
.space{
    margin-top: 15px;
}
.section-4{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: hsl(0,0%,75%);
    color: white;
}
.section-4 p{
    font-size:13px;
    padding: 5px 50px 5px 50px;
}
.section-4 input{
    background-color: hsl(0,0%,75%);
    border-color: white;
    border-style: solid;
    color: hsl(0,0%,100%);
    height: 45px;
    padding-left:10px;
}
.btn-2{
    position: relative;
    bottom:2px;
    height: 45px;
    border-style: none;
    color: white;
    font-size: 12px;
    transform: translateX(-5px);
    background-color: tomato;
    border-radius: 2px;
    padding:13px 13px 13px 13px ;
}
footer{
    background-color: hsl(0,0%,30%);
    padding-top: 80px;
    padding-bottom: 70px;
}
.div-1 h6{
    color: white;
}
.div-1 p{
    font-size: 13px;
    color: hsl(0,0%,60%);
}
.div-2 h6{
    color: white;
}
.image-3{
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 4px;
}
.div-3 a{
    font-size: 13px;
    color: hsl(0,0%,60%);
}
.div-3 a:focus{
    color: white;
    text-decoration: none;
}
.div-4 h6{
    color: white;
}
.div-4 ul{
    position: relative;
    right: 37px;
    list-style: none;
}
.div-4 a{
    font-size: 13px;
    color: hsl(0,0%,75%);
}
.div-4 a:focus{
    color: white;
    text-decoration: none;
}
.div-5 h6{
    color: white;
}
.div-5 i{
    margin-top: 5px;
    color: hsl(0,0%,60%);
}
.div-5 .btw{
    margin-left: 18px;
}
.div-7 h6{
    color: white;
}
.div-8 h6{
    color: white;
}
.div-8 p{
    color: hsl(0,0%,60%);
    font-size: 13px;
}
.div-8 input{
    background-color: hsl(0,0%,30%);
    width: 200px;
    border-color: white;
    border-style: solid;
    border-radius: 2px;
    border-color: hsl(0,0%,75%);
    height: 45px;
    padding-left:10px;
}
.btn-3{
    position:relative;
    bottom:2px;
    height: 47px;
    border-style: none;
    color: white;
    font-size: 12px;
    transform: translateX(-5px);
    background-color: tomato;
    border-radius: 2px;
    padding:13px 13px 13px 13px ;
}
.bottom{
    color:hsl(0,0%,75%);
    margin-top: 100px;
}
@media only screen and (min-width:319px) and (max-width:426px){
    .image-2{
        margin-bottom:20px;
    }
    .podcast-info{
        margin-left:15px;
    }
}
@media only screen and (min-width:481px) and  (max-width:768px){
    .card{
        margin-left: 75px;
    }
    .card-img-top{
         object-fit:cover;
         width: 300px!important;
     }
    .card-horizontal{
         display: flex;
         flex:1 1 auto;
     }
     .card-title{
         font-size: 19px;
     }
     .image-2{
         width: 290px;
         height: 300px;
     }
     .section-3{
        padding-left: 58px!important;
        padding-right: 70px!important;
    }
     .space{
         transform: translateY(-15px);
     }
     .section-4 p{
         padding-left: 160px;
         padding-right: 160px;
     }
     footer{
         padding-left:75px!important;
         padding-right: 75px!important;
     }
     .div-8 input{
         width: 350px;
     }
     video{
         width: 400px;
     }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .card{
        margin-left: 75px;
        width: 850px;
        padding-bottom: 0px;
    }
    .card-img-top{
        object-fit: cover;
        width: 350px !important;
        height: 400px !important;
    }
    .card-horizontal{
        display: flex;
        flex:1 1 auto;
    }
    .card-title{
        font-size: 30px;
    }
    .paragraph-1{
        font-size: 14px!important;
    }
    .paragraph-2{
        font-size: 20px!important;
    }
    .audio-2{
       width: 350px;
    }
    .section-3{
        padding-left: 53px!important;
        padding-right: 53px!important;
    }
    .image-2{
        width: 415px;
        height:420px ;
    }
    .space{
        transform: translateY(-15px);
    }
    .section-4 p{
        padding-left: 260px;
        padding-right: 260px;
    }
    footer{
        padding-left:75px!important;
        padding-right: 75px!important;
    }
    video{
        width: 500px;
    }
    .div-8 input{
        width: 450px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1441px){
    .background-1{
        background-image: url(./images/headphone-g3d936c282_1280.jpg);
        width: 100%;
        height: 850px;
        background-size:cover;
    }
    .card{
        margin-left: 300px;
        width: 850px;
        padding-bottom: 0px;
    }
    .card-img-top{
        object-fit: cover;
        width: 350px !important;
        height: 400px !important;
    }
    .card-horizontal{
        display: flex;
        flex:1 1 auto;
    }
    .card-title{
        font-size: 30px;
    }
    .paragraph-1{
        font-size: 14px!important;
    }
    .paragraph-2{
        font-size: 20px!important;
    }
    .audio-2{
       width: 350px;
    }
    .section-3{
        padding-left: 115px!important;
        padding-right: 140px!important;
    }
    .image-2{
        width: 420px;
        height:420px ;
    }
    .space{
        transform: translateY(-15px);
    }
    .section-4 p{
        padding-left: 360px;
        padding-right: 360px;
    }
    footer{
        padding-left:75px!important;
        padding-right: 75px!important;
    }
    video{
        width: 500px;
    }
    .div-8 input{
        width: 450px;
    }
    .div-3 a{
        margin-left:9px;
    }
}
@media only screen and (min-width:1800px) and (max-width:3000px){
    .background-1{
        background-size: cover;
    }
    .card{
        margin-left: 850px;
        width: 850px;
        padding-bottom: 0px;
    }
    .card-img-top{
        object-fit: cover;
        width: 350px !important;
        height: 400px !important;
    }
    .card-horizontal{
        display: flex;
        flex:1 1 auto;
    }
    .card-title{
        font-size: 30px;
    }
    .paragraph-1{
        font-size: 14px!important;
    }
    .paragraph-2{
        font-size: 20px!important;
    }
    .audio-2{
       width: 350px;
    }
    .section-3{
        padding-left: 115px!important;
        padding-right: 140px!important;
    }
    .image-2{
        width: 420px;
        height:420px ;
    }
    .space{
        transform: translateY(-15px);
    }
    .section-4 p{
        padding-left: 360px;
        padding-right: 360px;
    }
    footer{
        padding-left:75px!important;
        padding-right: 75px!important;
    }
    video{
        width: 500px;
    }
    .div-8 input{
        width: 450px;
    }
    .div-3 a{
        margin-left:9px;
    }
}